body {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --bg-secondary: rgb(54, 60, 72);
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

body {
  font-family: "Merriweather", "Georgia", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Roboto", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: var(--bg);
  color: var(--textNormal);
}

blockquote {
  border-left: 0.32813rem solid hsla(0,0%,0%,0.9);
  border-left-color: inherit;
  opacity: 0.8;
  color: inherit;
}

:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
  text-shadow: none;
}
